@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html {
	font-family: 'Nanum Gothic', Tahoma, Sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

hr {
	margin: 40px 0;
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

body {
	padding: 0;
	margin: 0 auto;
	background-color: #fff;
	height: 100%;
}

div {
	box-sizing: border-box;
}

table {
	border-collapse: collapse;
}

textarea {
	overflow: auto;
}

iframe {
	display: block;
}

.icon>img {
	vertical-align: middle;
}

.input-disabled {
	border: 0 !important;
}

.left {
	float: left !important;
}

.right {
	float: right !important;
}

.margin-top-20 {
	margin-top: 20px;
}

.hide {
	display: none;
}

/******* 공통 레이아웃 *********/
a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: 0;
	vertical-align: top;
}

ol, ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.clear {
	clear: both;
}

#wrap {
	padding: 0;
	margin: 0 auto;
	width: 1080px;
}

/******* header ********/
#header {
	width: 100%;
	height: 60px;
}

#header .top-content {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	height: inherit;
	display: inherit;
	position: fixed;
	z-index: 900;
	background-color: #ffffff;
}

.section-session {
	float: right;
	height: 40px;
}

.section-session .session-info {
	padding: 2px;
	display: flex;
	align-items: center;
}

.session-info .session-avatar {
	display: block;
	margin: 0 auto;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	float: left;
}

.session-info .session-content, .session-info .session-notification,
	.session-info .session-release {
	margin-top: 18px;
	float: left;
	margin-left: 10px;
	height: 100%;
	font-size: 15px;
	color: #424242;
	font-weight: 600;
	cursor: pointer;
}

.session-info .session-content {
	display: inline-block;
	vertical-align: middle;
}

.session-info .session-notification {
	font-size: 22px;
}

.session-info .session-notification:hover {
	color: #31bfc2;
}

.session-info .session-release {
	margin-top: 0px;
	padding: 12px;
	margin-left: 30px;
	font-size: 12px;
}

#navigation {
	width: 100%;
	height: 70px;
}

#banner {
	width: 100%;
	height: 370px;
}

#banner .content {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	height: inherit;
	display: inherit;
	background-color: #ffffff;
}

.gnb {
	width: 100%;
}

#header .top-content .content-body {
	padding: 10px;
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
	height: inherit;
}

#navigation .navi-content {
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	width: 100%;
	height: inherit;
	z-index: 900;
	background-color: #ffffff;
}

.navi-content .content-body {
	padding: 10px;
	margin: 0 auto;
	max-width: 1080px;
	height: inherit;
}

.navi-content .content-body .section-sort, .navi-content .content-body .section-price
	{
	height: 100%;
	max-width: 188px;
	width: 100%;
	float: left;
	padding: 5px;
}

.navi-content .content-body .section-search {
	height: 100%;
	max-width: 433px;
	width: 100%;
	float: left;
	padding: 5px;
}

.section-sort .sort-button, .section-price .price-button {
	width: 100%;
	height: 100%;
	font-weight: bold;
	color: #672;
	font-size: 12px;
	padding: 12px;
	border-radius: 5px;
	border: 1px solid #e2e2e2;
	cursor: pointer;
}

.section-search .search-box {
	height: 37px;
	border-radius: 5px;
	margin: 0px;
	border: 1px solid #e2e2e2;
}

.section-search .search-box .search-content {
	padding: 5px;
	height: 100%;
}

.section-search .search-box .search-content .search-left {
	float: left;
	height: 100%;
	max-width: 380px;
	width: 100%;
}

.search-left .search-input {
	width: 100%;
	margin-left: 5px;
	font-size: 15px;
	font-weight: 500;
	border: transparent;
	height: 100%;
}

.search-left .search-input:focus {
	outline: none;
}

.search-right {
	height: 100%;
	display: flex;
	align-items: center;
	padding-right: 5px;
	float: right;
}

.search-right .search-icon {
	height: 100%;
	width: 20px;
	height: 20px;
	color: #7c7b7b;
	display: flex;
	border: 0px;
	background: transparent;
	align-items: center;
	cursor: pointer;
}

.price-button:hover, .sort-button:hover {
	box-shadow: 0 0 11px rgba(0, 0, 0, 0.11);
}

.price-button .price-title, .sort-button .sort-title {
	display: flex;
	align-items: center;
	float: left;
}

.price-button .price-title span, .sort-button .sort-title span {
	float: left;
}

.filter-icon {
	float: right;
}

.filter-icon i {
	float: right;
	font-size: 15px;
	color: #e2e2e2;
}

.filter-menu {
	display: none;
	background: #fff;
	position: relative;
	z-index: 900;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #e2e2e2;
}

.filter-item {
	border-bottom: 1px solid #e2e2e2;
	width: 100%;
	height: 39px;
	cursor: pointer;
	font-size: 12px;
}

.filter-item div {
	font-size: 12px;
	padding: 12px;
	text-align: left;
}

.filter-item:hover {
	background: #e2e2e2;
}

#header .top-content .content-body .section-logo {
	display: flex;
	align-items: center;
	float: left;
	height: 40px;
	cursor: pointer;
}

#header .top-content .content-body .section-logo  .header-logo {
	margin: 0 auto;
}

#header .top-content .content-body .section-login {
	max-width: 250px;
	width: 100%;
	height: 40px;
	float: right;
	right: 5px;
	color: gray;
	font-size: 16px;
	display: flex;
	align-items: center;
	right: 5px;
}

#header .top-content .content-body .section-login div:hover {
	color: #31bfc2;
	cursor: pointer;
}

#header .top-content .content-body .section-login .login-left {
	margin-right: 5px;
}

#header .top-content .content-body .section-login .login-left, #header .top-content .content-body .section-login .login-right
	{
	display: flex;
	align-items: center;
	width: 50%;
	height: 100%;
}

#header .top-content .content-body .section-login .login-icon {
	float: left;
	height: 100%;
	width: 35%;
	margin-right: 5px;
	display: flex;
	align-items: center
}

#header .top-content .content-body .section-login .login-icon i {
	margin: 0 auto;
	font-size: 25px;
}

#header .top-content .content-body .section-login .login-left .login-button,
	#header .top-content .content-body .section-login .login-right .join-button
	{
	float: left;
	height: 100%;
	margin-right: 5px;
	width: 65%;
	display: flex;
	align-items: center;
}

#header .top-content .content-body .section-login .login-left .login-button span,
	#header .top-content .content-body .section-login .login-right .join-button span
	{
	display: table;
}

#footer .section-terms {
	width: 100%;
	display: flex;
}

#footer .section-terms ul {
	margin: 0 auto;
}

#footer .section-terms ul li {
	float: left;
}

#footer .section-terms .terms-item {
	height: 100%;
	color: #ffffff;
	margin: 0px 10px;
	display: flex;
	align-items: center;
}

/******* content ********/
#container {
	width: 100%;
	height: auto;
}

#container .container-content {
	height: inherit;
}

.banner {
	position: relative;
}

.container-content .content-body {
	margin: 0 auto;
	max-width: 1080px;
	height: inherit;
	display: flex;
	position: relative;
}

.container-content .content-body .left-section {
	width: 13.33%;
	float: left;
}

.container-content .content-body .left-section .menu-list {
	padding-top: 10px;
}

.container-content .content-body .left-section .menu-list ul {
	padding: 12.5% 12px /*25px 30px*/;
	list-style: none;
	width: 100%;
	font-size: 14px;
}

.container-content .content-body .left-section .menu-list ul li {
	list-style: none;
	margin-bottom: 15px;
	cursor: pointer;
	transition: all 0.2s;
}

.container-content .content-body .left-section .menu-list  .category-list
	{
	position: relative;
}

.container-content .content-body .left-section .menu-list .item-category-list
	{
	position: absolute;
	left: 100px;
	border: 1px solid;
	top: -20px;
	padding: 5px;
	max-width: 180px;
	width: 200px;
	background: #fff;
	z-index: 100;
	height: auto;
}

.container-content .content-body .right-section {
	width: 86.67%;
	float: left;
	padding-left: 1.81%;
	min-height: 100vh;
}

/******* footer ********/
#footer {
	width: 100%;
	height: 120px;
	background-color: #3e4448;
}

.bottom {
	padding: 0;
	margin: 0 auto;
	width: 1080px;
	height: 92px;
}

/********base*********/
.bottom {
	padding: 0;
	margin: 0 auto;
	width: 1080px;
	height: 92px;
}

/*******custom*********/
.container-content .section-join, .container-content .section-login {
	width: 100%;
	max-width: 320px;
	margin: 180 auto;
	display: block;
}

.section-login .login-header .header-logo, .section-join .join-header .header-logo
	{
	display: flex;
	margin: 20 auto;
	cursor: pointer;
}

.section-join .join-container, .section-login .login-container {
	margin: 0 auto;
	background: #fff;
	border-radius: 5px;
	padding: 30px 20px;
	height: auto;
}

.login-container .login-form .form-text, .join-container .join-form .form-text
	{
	margin-top: 10px;
	height: 36px;
}

.login-container .login-form .form-text .user-input, .join-container .join-form .form-text .user-input
	{
	border: 1px solid #ccc;
	height: 100%;
	width: 100%;
	padding: 0px 10px;
	outline-color: #31bfc2;
	color: #555;
}

.join-container .join-form .form-button input, .login-container .login-form .form-button input
	{
	width: 100%;
	height: 38px;
	background: #555;
	color: white;
	border-width: 0;
	border-radius: 25px;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	margin-top: 20px;
}

.join-container .join-form .form-radio {
	height: 36px;
	width: 100%;
	display: flex;
	align-items: center;
}

.join-container .join-form .form-radio input {
	padding: 5px;
	height: 100%;
	vertical-align: middle;
}

.join-container .join-form .form-radio .radio-text {
	margin-left: 5px;
	vertical-align: middle;
	font-size: 15px;
	height: 100%;
}

.join-container .join-form .form-radio .right-radio, .join-container .join-form .form-radio .left-radio
	{
	float: left;
	text-align: center;
	width: 50%;
	height: 100%;
}

.container-content .section-login .login-join {
	border-top: 1px solid #bbb;
	padding: 10px;
	font-size: 14px;
	cursor: pointer;
	float: inherit;
	color: #bbb;
	text-align: right;
}

.container-content .section-login .login-sns {
	width: 100%;
	font-size: 14px;
	text-align: center;
	font-weight: 700;
}

.container-content .section-login .login-sns .facebook-button {
	color: #357ebd;
	border-radius: 5px;
	border: 1px solid #ddd;
	padding: 10px;
	cursor: pointer;
	margin-top: 10px;
}

.container-content .section-login .login-header {
	
}

.join-container .join-form .error {
	margin: 5px;
	font-size: 14px;
	color: red;
	display: flex;
}

.content-list {
	padding: 30px;
	display: inline-block;
	position: relative;
}

.content-list .story-list {
	color: #414042;
	position: relative;
}

.content-list .story-list .section-story {
	background: #f6f6f6;
	float: left;
	cursor: pointer;
	font-size: 12px;
	border: 1px solid #dbdbdb;
	position: relative;
	border-radius: 5px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
	width: 31%;
	margin-right: 2%;
	margin-bottom: 47px;
	max-height: 310px;
	height: 100%;
}

.content-list .story-list .section-story .story-avatar {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	max-height: 230px;
	height: 100%;
}



.content-list .story-list .section-story .story-avatar .story-value {
	display: flex;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);
}

.content-list .story-list .section-story .story-avatar .story-value .value-count
	{
	padding: 6px 0 6px 9px;
	color: #ffffff;
	width: 100%;
	margin: 0 auto;
}

.content-list .story-list .section-story .story-avatar .story-value .value-count div
	{
	width: 31%;
	float: left;
	font-size: 12px;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal !important;
}

.content-list .story-list .section-story .story-avatar .story-value .value-count div i
	{
	padding-right: 5px;
}

.content-list .story-list .section-story .story-info {
	height: auto;
}

.content-list .story-list .section-story .story-info .info-content {
	height: 100%;
	max-height: 80px;
	border-bottom: 1px solid #dbdbdb;
	padding: 5px;
}

.content-list .story-list .section-story .story-info .info-content .content-title
	{
	height: 50%;
	color: #444;
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.content-list .story-list .section-story .story-info .info-content .content-title span
	{
	margin-left: 10px;
	margin-right: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal !important;
}

.content-list .story-list .section-story .story-info .info-content .content-user
	{
	height: 50%;
	color: #444;
	width: 100%;
	font-size: 12px;
	display: flex;
	align-items: center;
}

.content-list .story-list .section-story .story-info .info-content .content-user .user-avatar
	{
	margin-left: 10px;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
}

.content-list .story-list .section-story .story-info .info-content .content-user .user-name
	{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal !important;
	padding-left: 5px;
}

/******* message ********/
.login-message {
	width: 100%;
	font-size: 14px;
	color: #d45353;
	text-align: center;
	padding: 10px;
	font-weight: bold;
}

.login-message.join {
	color: #41d027;
}